{{> header }}

	<div id="main_body">
		<div class="main_content">
			<h1>{{title}}</h1>
			<div class="selection" id="registerSelect">
                <ul>
                    <li>

                        <div class="mdc-form-field">
                            <div class="mdc-radio">
                                <input class="mdc-radio__native-control" type="radio" data-frmName="faculty" name="register-type" id="facultyRegister">
                                <div class="mdc-radio__background">
                                  <div class="mdc-radio__outer-circle"></div>
                                  <div class="mdc-radio__inner-circle"></div>
                                </div>
                         </div>
                            <label for="facultyRegister">Faculty Registration</label>
                        </div>
                    </li>
                    <li>

                        <div class="mdc-form-field">
                            <div class="mdc-radio">
                                <input class="mdc-radio__native-control" type="radio" data-frmName="student" name="register-type" id="studentRegister">
                                <div class="mdc-radio__background">
                                  <div class="mdc-radio__outer-circle"></div>
                                  <div class="mdc-radio__inner-circle"></div>
                                </div>
                            </div>
                            <label for="studentRegister">Student Registration</label>
                        </div>
                    </li>
                </ul>
            </div>

            <div id="selectedForm">
                
            </div>
 
            <div id='confirmation'>
                
            </div>
      
		        <div id="pwd">
		            <form id="passform">
                        <div class="inline-div">
                            <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
                                <input class="mdc-text-field__input" type="password" autocomplete="off" name='password' size="24" data-type="pwd-info1" id="pass" >
                                <label for="password" class="mdc-floating-label">Enter Password</label>
                                <div class="mdc-line-ripple"></div> 
                            </div>
                                
                        </div>
                        <div id="pwd-info1">
                            <p id="smallCh" class="invalid">Password Must contain one small letter</p>
                            <p id="capital" class="invalid">Password Must contain one capital letter</p>
                            <p id="number" class="invalid">Password Must contain one number</p>
                            <P id="length" class="invalid">Password Must be Atleast 8 charecters</P>
                        </div>

                      <div class="inline-div">
                          <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
                              <input class="mdc-text-field__input" type="password" autocomplete="off" name='password' size="24" data-type="pwd-info2" id="rePass" >
                              <label for="password" class="mdc-floating-label">Re-Enter Password</label>
                              <div class="mdc-line-ripple"></div> 
                          </div>

                      </div>
                      <div id="pwd-info2">
                          <p id="matches" class="invalid">Entered Passwords does not match</p>
                      </div>
		              
                        <button type="submit" id="submitBtn" class="mdc-button mdc-button--raised" disabled="true">
                            <i class="material-icons mdc-button__icon">how_to_reg</i>
                            Register
                        </button>
		            </form>
		        </div>
		    </div>
		</div>
    </div>

    <script src="assets/datepicker.min.js"></script>
    <script>
        window.mdc.autoInit();
    </script>
    <script src="js/register.js"></script>


{{> footer-end }}